/* Header-Area 
..........................................*/

@media(max-width: 768px) {

    .header-area {        
        height: 600px;        
    }
    
    .header-content h1 {
        font-size: 50px;
    }

    .header-content p {
        letter-spacing: 8px;
    }

}

@media(max-width: 480px) {

    .header-area {        
        height: 476px;        
    }
    
    .header-content h1 {
        font-size: 38px;
    }

    .header-content p {
        letter-spacing: 2px;
    }

}

@media(max-width: 320px) {

    .header-area {        
        height: 400px;        
    }
    
    .header-content h1 {
        font-size: 32px;
    }

    .header-content p {
        letter-spacing: 0px;
    }

}

